mixin advantages()
  section.advantages
   .container
     .advantages__wrapper
       h2.title-small-2 Зачем покупать бриллианты?
       ul.advantages__list
         li
           +icon("icon-stars-white", 57, 42)
           p Пропорции, симметрия и полировка обеспечивали великолепную игру света, возможную только в бриллианте.
         li
           +icon("icon-hand", 69, 40)
           p Пропорции, симметрия и полировка обеспечивали великолепную игру света, возможную только в бриллианте. Только правильная огранка может полностью раскрыть красоту бриллианта.
         li
           +icon("icon-stars-white", 57, 42)
           p Пропорции, симметрия и полировка обеспечивали великолепную игру света, возможную только в бриллианте.
         li
           +icon("icon-stars-white", 57, 42)
           p Пропорции, симметрия и полировка обеспечивали великолепную игру света, возможную только в бриллианте.
