mixin how-we-works()
  section.how-we-works
    .container
      .how-we-works__decoration
        +picture("content", "catalog-jewelry-decoration", "png", 198, 198, "Декоративное изображение")
      span.how-we-works__description!="Как мы работаем"
      h2.how-we-works__title.title-large!="Мастера ограняют бриллианты в&nbsp;течение недели, чтобы раскрыть всю его красоту"
