mixin quality
  .working
    .working__img
      +icon("working", 198, 198)
    h2.working__title Качество бриллиантов ELIA’S украшений
    p.working__text Все бриллианты сертифицированы и соответствуют параметрам легендарной огранки RUSSIAN CUT
