mixin working
  .working
    .working__img
      +icon("working", 198, 198)
    h2.working__title Как мы работаем
    p.working__text Мастера ограняют бриллианты в&nbsp;течение недели, чтобы раскрыть всю&nbsp;его красоту
