mixin sequence()
  .sequence&attributes(attributes)
    .sequence__wrapper
      .sequence__item(data-sequence, data-mousedown-sequence='true', data-sequence-frames="337", data-sequence-path="content/sequence", data-image-format="jpg", data-sequence-autoplay="false", data-sequence-reverse="false")
        canvas(data-sequence-canvas)
        +picture("content/sequence", "first-image-1", "jpg", "500", "700", "Изображение бриллианта")
