-
  const catalogJewelry1 = [
    {
      collection: "Austerio",
      type: "серьги",
      cardType: "product",
      material1: "Белое золото",
      material2: "Бриллиант",
      dataMaterial: "material-white-gold",
      dataCollection: "collection-austerio",
      price: "22 001",
      href: "#",
      images: [
        {
          image: "earrings-1",
          width: "309",
          height: "245",
        },
        {
          image: "earrings-1",
          width: "309",
          height: "245",
        },
      ],
    },
    {
      collection: "Austerio",
      type: "серьги",
      cardType: "product",
      material1: "Белое золото",
      dataMaterial: "material-white-gold",
      dataCollection: "collection-austerio",
      material2: "Бриллиант",
      price: "22 002",
      href: "#",
      images: [
        {
          image: "earrings-2",
          width: "351",
          height: "129",
        },
        {
          image: "earrings-2",
          width: "351",
          height: "129",
        },
      ],
    },
    {
      collection: "Austerio",
      type: "серьги",
      cardType: "product",
      material1: "Белое золото",
      material2: "Бриллиант",
      dataMaterial: "material-white-gold",
      dataCollection: "collection-austerio",
      price: "22 003",
      href: "#",
      images: [
        {
          image: "earrings-3",
          width: "352",
          height: "136",
        },
        {
          image: "earrings-3",
          width: "352",
          height: "136",
        },
      ],
    },
    {
      type: "image",
      description: "Процесс",
      title: "Мастера вручную обрабатывают каждое изделие",
      backgroundImage: "1",
      cardType: "background",
    },
    {
      collection: "Austerio",
      type: "серьги",
      cardType: "product",
      material1: "Жёлтое золото",
      material2: "Бриллиант",
      dataMaterial: "material-yellow-gold",
      dataCollection: "collection-austerio",
      price: "22 004",
      href: "#",
      images: [
        {
          image: "earrings-3",
          width: "352",
          height: "136",
        },
        {
          image: "earrings-3",
          width: "352",
          height: "136",
        },
      ],
    },
    {
      collection: "Austerio",
      type: "серьги",
      cardType: "product",
      material1: "Жёлтое золото",
      material2: "Бриллиант",
      dataMaterial: "material-yellow-gold",
      dataCollection: "collection-austerio",
      price: "22 005",
      href: "#",
      images: [
        {
          image: "earrings-3",
          width: "352",
          height: "136",
        },
        {
          image: "earrings-3",
          width: "352",
          height: "136",
        },
      ],
    },
    {
      collection: true,
    },
    {
      collection: "Biena",
      type: "серьги",
      cardType: "product",
      material1: "Красное золото",
      material2: "Бриллиант",
      dataMaterial: "material-red-gold",
      dataCollection: "collection-biena",
      price: "22 006",
      href: "#",
      images: [
        {
          image: "earrings-3",
          width: "352",
          height: "136",
        },
        {
          image: "earrings-3",
          width: "352",
          height: "136",
        },
      ],
    },
    {
      collection: "Biena",
      type: "серьги",
      cardType: "product",
      material1: "Красное золото",
      material2: "Бриллиант",
      price: "22 007",
      dataMaterial: "material-red-gold",
      dataCollection: "collection-biena",
      href: "#",
      images: [
        {
          image: "earrings-3",
          width: "352",
          height: "136",
        },
        {
          image: "earrings-3",
          width: "352",
          height: "136",
        },
      ],
    },
    {
      type: "image",
      description: "Процесс",
      title: "Мастера вручную обрабатывают каждое изделие",
      backgroundImage: "2",
      cardType: "background",
    },
    {
      collection: "Biena",
      type: "серьги",
      cardType: "product",
      material1: "Зелёное золото",
      material2: "Бриллиант",
      price: "22 008",
      dataMaterial: "material-green-gold",
      dataCollection: "collection-biena",
      href: "#",
      images: [
        {
          image: "ring-1",
          width: "379",
          height: "377",
        },
        {
          image: "ring-1",
          width: "379",
          height: "377",
        },
      ],
    },
    {
      collection: "Biena",
      type: "серьги",
      cardType: "product",
      material1: "Зелёное золото",
      material2: "Бриллиант",
      dataMaterial: "material-green-gold",
      dataCollection: "collection-biena",
      price: "22 009",
      href: "#",
      images: [
        {
          image: "ring-1",
          width: "379",
          height: "377",
        },
        {
          image: "ring-1",
          width: "379",
          height: "377",
        },
      ],
    },
    {
      collection: "Biena",
      type: "серьги",
      cardType: "product",
      material1: "Зелёное золото",
      material2: "Бриллиант",
      dataMaterial: "material-green-gold",
      dataCollection: "collection-biena",
      price: "22 010",
      href: "#",
      images: [
        {
          image: "ring-2",
          width: "347",
          height: "353",
        },
        {
          image: "ring-2",
          width: "347",
          height: "353",
        },
      ],
    },
    {
      collection: "Biena",
      type: "серьги",
      cardType: "product",
      material1: "Красное золото",
      material2: "Бриллиант",
      dataMaterial: "material-red-gold",
      dataCollection: "collection-biena",
      price: "22 011",
      href: "#",
      images: [
        {
          image: "ring-1",
          width: "379",
          height: "377",
        },
        {
          image: "ring-1",
          width: "379",
          height: "377",
        },
      ],
    },
    {
      collection: "Biena",
      type: "серьги",
      cardType: "product",
      material1: "Красное золото",
      material2: "Бриллиант",
      dataMaterial: "material-red-gold",
      dataCollection: "collection-biena",
      price: "22 011",
      href: "#",
      images: [
        {
          image: "ring-2",
          width: "347",
          height: "353",
        },
        {
          image: "ring-2",
          width: "347",
          height: "353",
        },
      ],
    },
    {
      type: "image",
      description: "Процесс",
      title: "Мастера вручную обрабатывают каждое изделие",
      backgroundImage: "3",
      cardType: "background",
    },
    {
      collection: "Biena",
      type: "серьги",
      cardType: "product",
      material1: "Красное золото",
      material2: "Бриллиант",
      dataMaterial: "material-red-gold",
      dataCollection: "collection-biena",
      price: "22 012",
      href: "#",
      images: [
        {
          image: "ring-2",
          width: "347",
          height: "353",
        },
        {
          image: "ring-2",
          width: "347",
          height: "353",
        },
      ],
    },
    {
      kaleido: true
    },
    {
      collection: "Biena",
      type: "серьги",
      cardType: "product",
      material1: "Красное золото",
      material2: "Бриллиант",
      dataMaterial: "material-red-gold",
      dataCollection: "collection-biena",
      price: "22 013",
      href: "#",
      images: [
        {
          image: "ring-2",
          width: "347",
          height: "353",
        },
        {
          image: "ring-2",
          width: "347",
          height: "353",
        },
      ],
    },
    {
      collection: "Austerio",
      type: "серьги",
      cardType: "product",
      material1: "Красное золото",
      material2: "Бриллиант",
      dataMaterial: "material-red-gold",
      dataCollection: "collection-austerio",
      price: "22 015",
      href: "#",
      images: [
        {
          image: "ring-2",
          width: "347",
          height: "353",
        },
        {
          image: "ring-2",
          width: "347",
          height: "353",
        },
      ],
    },
    {
      work: true
    },
    {
      collection: "Austerio",
      type: "кольцо",
      material1: "Красное золото",
      material2: "Бриллиант",
      price: "22 016",
      dataMaterial: "material-red-gold",
      dataCollection: "collection-austerio",
      href: "#",
      images: [
        {
          image: "ring-3",
          width: "220",
          height: "347",
        },
        {
          image: "ring-3",
          width: "220",
          height: "347",
        },
      ],
      cardType: "product",
    },
    {
      collection: "Austerio",
      type: "серьги",
      cardType: "product",
      material1: "Красное золото",
      material2: "Бриллиант",
      dataMaterial: "material-red-gold",
      dataCollection: "collection-austerio",
      price: "22 019",
      href: "#",
      images: [
        {
          image: "ring-3",
          width: "220",
          height: "347",
        },
        {
          image: "ring-3",
          width: "220",
          height: "347",
        },
      ],
    },
    {
      collection: "Austerio",
      type: "серьги",
      cardType: "product",
      material1: "Красное золото",
      material2: "Бриллиант",
      dataMaterial: "material-red-gold",
      dataCollection: "collection-austerio",
      price: "22 019",
      href: "#",
      images: [
        {
          image: "ring-2",
          width: "347",
          height: "353",
        },
        {
          image: "ring-2",
          width: "347",
          height: "353",
        },
      ],
    },
    {
      collection: "Austerio",
      type: "серьги",
      cardType: "product",
      material1: "Красное золото",
      material2: "Бриллиант",
      dataMaterial: "material-red-gold",
      dataCollection: "collection-austerio",
      price: "22 022",
      href: "#",
      images: [
        {
          image: "ring-2",
          width: "347",
          height: "353",
        },
        {
          image: "ring-2",
          width: "347",
          height: "353",
        },
      ],
    },
  ]

//- -
//-   const catalogJewelry4 = [
//-     {
//-       collection: "Austerio",
//-       type: "кольцо",
//-       material1: "Белое золото",
//-       material2: "Бриллиант",
//-       price: "22 016",
//-       dataMaterial: "material-red-gold",
//-       dataCollection: "collection-austerio",
//-       href: "#",
//-       images: [
//-         {
//-           image: "ring-3",
//-           width: "220",
//-           height: "347",
//-         },
//-         {
//-           image: "ring-3",
//-           width: "220",
//-           height: "347",
//-         },
//-       ],
//-       cardType: "product",
//-     },
//-     {
//-       collection: "Austerio",
//-       type: "серьги",
//-       cardType: "product",
//-       material1: "Белое золото",
//-       material2: "Бриллиант",
//-       dataMaterial: "material-red-gold",
//-       dataCollection: "collection-austerio",
//-       price: "22 019",
//-       href: "#",
//-       images: [
//-         {
//-           image: "ring-3",
//-           width: "220",
//-           height: "347",
//-         },
//-         {
//-           image: "ring-3",
//-           width: "220",
//-           height: "347",
//-         },
//-       ],
//-     },
//-     {
//-       collection: "Austerio",
//-       type: "серьги",
//-       cardType: "product",
//-       material1: "Белое золото",
//-       material2: "Бриллиант",
//-       dataMaterial: "material-red-gold",
//-       dataCollection: "collection-austerio",
//-       price: "22 019",
//-       href: "#",
//-       images: [
//-         {
//-           image: "ring-2",
//-           width: "347",
//-           height: "353",
//-         },
//-         {
//-           image: "ring-2",
//-           width: "347",
//-           height: "353",
//-         },
//-       ],
//-     },
//-     {
//-       collection: "Austerio",
//-       type: "серьги",
//-       cardType: "product",
//-       material1: "Белое золото",
//-       material2: "Бриллиант",
//-       dataMaterial: "material-red-gold",
//-       dataCollection: "collection-austerio",
//-       price: "22 022",
//-       href: "#",
//-       images: [
//-         {
//-           image: "ring-2",
//-           width: "347",
//-           height: "353",
//-         },
//-         {
//-           image: "ring-2",
//-           width: "347",
//-           height: "353",
//-         },
//-       ],
//-     },
//-   ]
