-
  const AllDiamonds = [
    {
      collection: "0.5 карат",
      cardType: "product",
      material1: "Цвет: D · Чистота: VVS2",
      price: "22 001",
      color: "d",
      size: 0.5,
      purity: "VVS2",
      href: "#",
      video: true,
      backgroundVideo: "1",
      images: [
        {
          image: "../goods/brilliant",
          width: "309",
          height: "245",
          sequencePath: "content/sequence-brilliant-1"
        },
        {
          image: "earrings-1",
          width: "309",
          height: "245",
          sequencePath: "content/sequence-brilliant-1"
        },
      ],
    },
    {
      collection: "1.00 карат",
      cardType: "product",
      material1: "Цвет: E · Чистота: VVS1",
      price: "22 002",
      color: "e",
      purity: "VVS1",
      size: 1.0,
      href: "#",
      video: true,
      backgroundVideo: "1",
      images: [
        {
          image: "../goods/brilliant",
          width: "309",
          height: "245",
          sequencePath: "content/sequence-brilliant-1"
        },
        {
          image: "earrings-1",
          width: "309",
          height: "245",
          sequencePath: "content/sequence-brilliant-1"
        },
      ],
    },
    {
      collection: "1.5 карат",
      cardType: "product",
      material1: "Цвет: F · Чистота: VS1",
      price: "22 003",
      color: "f",
      purity: "VS1",
      size: 1.5,
      href: "#",
      video: true,
      backgroundVideo: "1",
      images: [
        {
          image: "../goods/brilliant",
          width: "309",
          height: "245",
          sequencePath: "content/sequence-brilliant-1"
        },
        {
          image: "earrings-1",
          width: "309",
          height: "245",
          sequencePath: "content/sequence-brilliant-1"
        },
      ],
    },
    {
      collection: "2.0 карат",
      cardType: "product",
      material1: "Цвет: G · Чистота: VS2",
      price: "22 004",
      color: "g",
      purity: "VS2",
      size: 2.0,
      href: "#",
      video: true,
      backgroundVideo: "1",
      images: [
        {
          image: "../goods/brilliant",
          width: "309",
          height: "245",
          sequencePath: "content/sequence-brilliant-1"
        },
        {
          image: "earrings-1",
          width: "309",
          height: "245",
          sequencePath: "content/sequence-brilliant-1"
        },
      ],
    },
    {
      working: true
    },
    {
      collection: "2.5 карат",
      cardType: "product",
      material1: "Цвет: G · Чистота: SI3",
      price: "22 005",
      color: "g",
      purity: "SI3",
      size: 2.5,
      href: "#",
      video: true,
      backgroundVideo: "1",
      images: [
        {
          image: "../goods/brilliant",
          width: "309",
          height: "245",
          sequencePath: "content/sequence-brilliant-1"
        },
        {
          image: "earrings-1",
          width: "309",
          height: "245",
          sequencePath: "content/sequence-brilliant-1"
        },
      ],
    },
    {
      collection: "3.0 карат",
      cardType: "product",
      material1: "Цвет: J · Чистота: SI1",
      price: "22 006",
      color: "j",
      purity: "SI1",
      size: 3.0,
      href: "#",
      video: true,
      backgroundVideo: "1",
      images: [
        {
          image: "../goods/brilliant",
          width: "309",
          height: "245",
          sequencePath: "content/sequence-brilliant-1"
        },
        {
          image: "earrings-1",
          width: "309",
          height: "245",
          sequencePath: "content/sequence-brilliant-1"
        },
      ],
    },
    {
      collection: "3.5 карат",
      cardType: "product",
      material1: "Цвет: H · Чистота: SI2",
      price: "22 007",
      color: "h",
      purity: "SI2",
      size: 3.5,
      href: "#",
      video: true,
      backgroundVideo: "1",
      images: [
        {
          image: "../goods/brilliant",
          width: "309",
          height: "245",
          sequencePath: "content/sequence-brilliant-1"
        },
        {
          image: "earrings-1",
          width: "309",
          height: "245",
          sequencePath: "content/sequence-brilliant-1"
        },
      ],
    },
    {
      collection: "4.0 карат",
      cardType: "product",
      material1: "Цвет: I · Чистота: SI3",
      price: "22 008",
      color: "i",
      purity: "SI3",
      size: 4.0,
      href: "#",
      video: true,
      backgroundVideo: "1",
      images: [
        {
          image: "../goods/brilliant",
          width: "309",
          height: "245",
          sequencePath: "content/sequence-brilliant-1"
        },
        {
          image: "earrings-1",
          width: "309",
          height: "245",
          sequencePath: "content/sequence-brilliant-1"
        },
      ],
    },
    {
      collection: "11.5 карат",
      cardType: "product",
      material1: "Цвет: K · Чистота: SI3",
      price: "22 009",
      color: "k",
      purity: "SI3",
      size: 11.5,
      href: "#",
      video: true,
      backgroundVideo: "1",
      images: [
        {
          image: "../goods/brilliant",
          width: "309",
          height: "245",
          sequencePath: "content/sequence-brilliant-1"
        },
        {
          image: "earrings-1",
          width: "309",
          height: "245",
          sequencePath: "content/sequence-brilliant-1"
        },
      ],
    },
    {
      collection: "20.0 карат",
      cardType: "product",
      material1: "Цвет: L · Чистота: SI3",
      price: "22 010",
      color: "l",
      purity: "SI3",
      size: 20.0,
      href: "#",
      video: true,
      backgroundVideo: "1",
      images: [
        {
          image: "../goods/brilliant",
          width: "309",
          height: "245",
          sequencePath: "content/sequence-brilliant-1"
        },
        {
          image: "earrings-1",
          width: "309",
          height: "245",
          sequencePath: "content/sequence-brilliant-1"
        },
      ],
    },
    {
      kaleido: true
    }
  ]


-
  const catalogDiamonds = [
    {
      collection: "1.01 карат",
      cardType: "product",
      material1: "Цвет: VVS1 · Чистота: G",
      price: "22 000",
      href: "#",
      sequence: true,
      images: [
        {
          image: "../goods/brilliant",
          width: "309",
          height: "245",
          sequence: true,
          sequencePath: "content/sequence-brilliant-1"
        },
        {
          image: "earrings-1",
          width: "309",
          height: "245",
          sequence: true,
          sequencePath: "content/sequence-brilliant-1"
        },
      ],
    },
    {
      collection: "2.04 карат",
      cardType: "product",
      material1: "Цвет: VVS1 · Чистота: G",
      price: "22 000",
      href: "#",
      sequence: true,
      images: [
        {
          image: "../goods/brilliant",
          width: "309",
          height: "245",
          sequence: true,
          sequencePath: "content/sequence-brilliant-2"
        },
        {
          image: "earrings-1",
          width: "309",
          height: "245",
          sequence: true,
          sequencePath: "content/sequence-brilliant-1"
        },
      ],
    },
    {
      collection: "2.01 карат",
      cardType: "product",
      material1: "Цвет: VVS1 · Чистота: G",
      price: "22 000",
      href: "#",
      sequence: true,
      images: [
        {
          image: "../goods/brilliant",
          width: "309",
          height: "245",
          sequence: true,
          sequencePath: "content/sequence-brilliant-3"
        },
        {
          image: "earrings-1",
          width: "309",
          height: "245",
          sequence: true,
          sequencePath: "content/sequence-brilliant-1"
        },
      ],
    },
    {
      collection: "2.01 карат",
      cardType: "product",
      material1: "Цвет: VVS1 · Чистота: G",
      price: "22 000",
      href: "#",
      sequence: true,
      images: [
        {
          image: "../goods/brilliant",
          width: "309",
          height: "245",
          sequence: true,
          sequencePath: "content/sequence-brilliant-3"
        },
        {
          image: "earrings-1",
          width: "309",
          height: "245",
          sequence: true,
          sequencePath: "content/sequence-brilliant-1"
        },
      ],
    },
  ]
  const catalogDiamonds2 = [
    {
      collection: "2.01 карат",
      cardType: "product",
      material1: "Цвет: VVS1 · Чистота: G",
      price: "22 000",
      href: "#",
      images: [
        {
          image: "../goods/brilliant",
          width: "309",
          height: "245",
        },
        {
          image: "earrings-1",
          width: "309",
          height: "245",
        },
      ],
    },
    {
      collection: "1.04 карат",
      cardType: "product",
      material1: "Цвет: VVS1 · Чистота: G",
      price: "22 000",
      href: "#",
      images: [
        {
          image: "../goods/brilliant",
          width: "309",
          height: "245",
        },
        {
          image: "earrings-1",
          width: "309",
          height: "245",
        },
      ],
    },
    {
      collection: "2.01 карат",
      cardType: "product",
      material1: "Цвет: VVS1 · Чистота: G",
      price: "22 000",
      href: "#",
      images: [
        {
          image: "../goods/brilliant",
          width: "309",
          height: "245",
        },
        {
          image: "earrings-1",
          width: "309",
          height: "245",
        },
      ],
    },
    {
      collection: "1.04 карат",
      cardType: "product",
      material1: "Цвет: VVS1 · Чистота: G",
      price: "22 000",
      href: "#",
      images: [
        {
          image: "../goods/brilliant",
          width: "309",
          height: "245",
        },
        {
          image: "earrings-1",
          width: "309",
          height: "245",
        },
      ],
    },
    {
      collection: "2.01 карат",
      cardType: "product",
      material1: "Цвет: VVS1 · Чистота: G",
      price: "22 000",
      href: "#",
      images: [
        {
          image: "../goods/brilliant",
          width: "309",
          height: "245",
        },
        {
          image: "earrings-1",
          width: "309",
          height: "245",
        },
      ],
    },
    {
      collection: "1.04 карат",
      cardType: "product",
      material1: "Цвет: VVS1 · Чистота: G",
      price: "22 000",
      href: "#",
      images: [
        {
          image: "../goods/brilliant",
          width: "309",
          height: "245",
        },
        {
          image: "earrings-1",
          width: "309",
          height: "245",
        },
      ],
    },
  ]
  const catalogDiamonds3 = [
    {
      collection: "1.04 карат",
      type: "серьги",
      cardType: "slider",
      material1: "Цвет: VVS1 · Чистота: G",
      price: "22 000",
      image: "../goods/brilliant",
      href: "#",
    },
    {
      collection: "1.04 карат",
      type: "серьги",
      cardType: "slider",
      material1: "Цвет: VVS1 · Чистота: G",
      price: "22 000",
      image: "../goods/brilliant",
      href: "#",
    },
    {
      collection: "1.04 карат",
      type: "серьги",
      cardType: "slider",
      material1: "Цвет: VVS1 · Чистота: G",
      price: "22 000",
      image: "../goods/brilliant",
      href: "#",
    },
    {
      collection: "1.04 карат",
      type: "серьги",
      cardType: "slider",
      material1: "Цвет: VVS1 · Чистота: G",
      price: "22 000",
      image: "../goods/brilliant",
      href: "#",
    },
  ]
