-
  const collections = [
    {
      type: "Коллекция",
      title: "Новая весенняя коллекция",
      description: "Текст про коллекцию. Вдохновились эстетикой грубых форм и создали смелые непривычные формы украшений",
      image: "1",
      href: "#",
    },
    {
      type: "Коллекция",
      title: "Новая весенняя коллекция",
      description: "Текст про коллекцию. Вдохновились эстетикой грубых форм и создали смелые непривычные формы украшений",
      image: "2",
      href: "#",
    },
  ]
