-
  const favorites = [
    {
      collection: "Austerio",
      type: "серьги",
      cardType: "product",
      material1: "Белое золото",
      material2: "Бриллиант",
      price: "22 000",
      href: "#",
      images: [
        {
          image: "ring-2",
          width: "347",
          height: "353",
        },
        {
          image: "ring-2",
          width: "347",
          height: "353",
        },
      ],
    },
    {
      collection: "Austerio",
      type: "серьги",
      cardType: "product",
      material1: "Белое золото",
      material2: "Бриллиант",
      price: "22 000",
      href: "#",
      images: [
        {
          image: "ring-1",
          width: "379",
          height: "377",
        },
        {
          image: "ring-1",
          width: "379",
          height: "377",
        },
      ],
    },
    {
      collection: "Austerio",
      type: "серьги",
      cardType: "product",
      material1: "Белое золото",
      material2: "Бриллиант",
      price: "22 000",
      href: "#",
      images: [
        {
          image: "ring-2",
          width: "347",
          height: "353",
        },
        {
          image: "ring-2",
          width: "347",
          height: "353",
        },
      ],
    },
  ]
