-
  const goods = [
    {
      type: "brilliant",
      title: "Бриллианты",
      count: "345",
      incline: "бриллиантов",
      image: "rings",
      width: "364",
      height: "349",
      href: "#",
      cardType: "standard",
    },
    {
      type: "set",
      title: "Наборы бриллиантов",
      count: "3",
      incline: "набора",
      image: "brilliant",
      width: "370",
      height: "267",
      href: "#",
      cardType: "standard",
    },
    {
      type: "jewelry",
      title: "Кольца",
      count: "5",
      incline: "украшений",
      image: "earrings",
      width: "370",
      height: "294",
      href: "#",
      cardType: "standard",
    },
    {
      type: "jewelry",
      title: "Серьги",
      count: "5",
      incline: "украшений",
      image: "rings",
      width: "364",
      height: "349",
      href: "#",
      cardType: "standard",
    },
    {
      type: "jewelry",
      title: "Подвески",
      count: "5",
      incline: "украшений",
      image: "pendants",
      width: "680",
      height: "511",
      href: "#",
      cardType: "standard",
    },
    {
      type: "jewelry",
      title: "Браслеты",
      count: "5",
      incline: "украшений",
      image: "bracelets",
      width: "246",
      height: "375",
      href: "#",
      cardType: "standard",
    }
  ]
