-
  const menu = [
   {
      type: "jewelry",
      title: "Кольца",
      count: "5",
      incline: "украшений",
      image: "earrings",
      width: "240",
      height: "192",
      href: "#",
      cardType: "menu",
    },
    {
      type: "jewelry",
      title: "Серьги",
      count: "5",
      incline: "украшений",
      image: "rings",
      width: "233",
      height: "223",
      href: "#",
      cardType: "menu",
    },
    {
      type: "jewelry",
      title: "Подвески",
      count: "5",
      incline: "украшений",
      image: "pendants-menu",
      width: "340",
      height: "340",
      href: "#",
      cardType: "menu",
    },
    {
      type: "jewelry",
      title: "Кольца",
      count: "5",
      incline: "украшений",
      image: "earrings",
      width: "240",
      height: "192",
      href: "#",
      cardType: "menu",
    },
  ]
