-
  const products = [
    {
      collection: "Austerio",
      type: "кольцо",
      cardType: "slider",
      material1: "Белое золото",
      material2: "Бриллиант",
      href: "#",
      price: "990 000",
      image: "small-ring-1",
      width: "215",
      height: "215",
    },
    {
      collection: "Austerio",
      type: "кольцо",
      cardType: "slider",
      material1: "Белое золото",
      material2: "Бриллиант",
      href: "#",
      price: "990 000",
      image: "small-ring-2",
      width: "282",
      height: "277",
    },
    {
      collection: "Austerio",
      type: "кольцо",
      cardType: "slider",
      material1: "Белое золото",
      material2: "Бриллиант",
      href: "#",
      price: "990 000",
      image: "small-ring-3",
      width: "180",
      height: "185",
    },
    {
      collection: "Austerio",
      type: "кольцо",
      cardType: "slider",
      material1: "Белое золото",
      material2: "Бриллиант",
      href: "#",
      price: "990 000",
      image: "small-ring-4",
      width: "282",
      height: "277",
    },
    {
      collection: "Austerio",
      type: "кольцо",
      cardType: "slider",
      material1: "Белое золото",
      material2: "Бриллиант",
      href: "#",
      price: "990 000",
      image: "small-ring-4",
      width: "282",
      height: "277",
    },
  ]
