-
  const sets = [
    {
      type: "Набор",
      title: "Biena",
      image: "1",
      href: "#",
      carat: "1.5",
      quantity: "10",
      price: "390 000",
    },
    {
      type: "Набор",
      title: "Biena",
      image: "2",
      href: "#",
      carat: "2.5",
      quantity: "10",
      price: "390 000",
    },
    {
      type: "Набор",
      title: "Biena",
      image: "3",
      href: "#",
      carat: "3.5",
      quantity: "10",
      price: "390 000",
    },
  ]
