mixin modal-cancel-order()
  .modal-cancel-order
    h2.modal-cancel-order__title.title-very-tiny-2 Уверены, что хотите отменить заказ?
    .modal-cancel-order__btns
      button(type="button", data-close-modal).btn.btn--white.modal-cancel-order__btn Нет
      button(type="button", data-close-modal).btn.modal-cancel-order__btn Да, отменить
