//- Base

include ./base/header
include ./base/footer
include ./base/modal

//- Utils

include ./utils/icon
include ./utils/img
include ./utils/picture
include ./utils/sprite

//- Data

include ./data/goods
include ./data/collections
include ./data/catalog-jewelry
include ./data/catalog-diamonds
include ./data/products
include ./data/sets
include ./data/menu
include ./data/favorites
include ./data/orders
include ./data/jewelry

//- Modals

include ./modals/modal-feedback
include ./modals/modal-success
include ./modals/modal-authorize
include ./modals/modal-sizes
include ./modals/modal-cancel-order

//- Blocks

include ./blocks/intro
include ./blocks/about
include ./blocks/goods
include ./blocks/collections
include ./blocks/jewelry-filters
include ./blocks/diamonds-filters
include ./blocks/how-we-works
include ./blocks/sets
include ./blocks/basket-page
include ./blocks/advantages
include ./blocks/favorites-page
include ./blocks/orders
include ./blocks/basket-success
include ./blocks/working
include ./blocks/quality
include ./blocks/product-card
include ./blocks/product-jewelry
include ./blocks/product-diamond
include ./blocks/ring-size-slider
include ./blocks/product-set
include ./blocks/about-section

//- Mixins

include ./mixins/btn
include ./mixins/custom-input
include ./mixins/custom-select
include ./mixins/custom-textarea
include ./mixins/custom-toggle
include ./mixins/see-btn
include ./mixins/good
include ./mixins/collection
include ./mixins/catalog-goods
include ./mixins/btn-favorite
include ./mixins/kaleidoscope
include ./mixins/card-item
include ./mixins/slider-products
include ./mixins/set
include ./mixins/total-card
include ./mixins/ordering/ordering
include ./mixins/ordering/ordering-payment
include ./mixins/ordering/ordering-place
include ./mixins/ordering/ordering-time
include ./mixins/ordering/ordering-contacts
include ./mixins/kaleido-block
include ./mixins/breadcrumbs
include ./mixins/card-block
include ./mixins/color-block
include ./mixins/purity-block
include ./mixins/accordion
include ./mixins/sequence
